body {
    display: flex;
    justify-content: center;
    background-color: #264653;
    text-align: center;
}

header {
    justify-content: center;
}

.navigate{
    display: flex;
    justify-content: center;
}

.navbar {
    justify-content: center;
}

/* .secondary { */
    
    /* background-color: ; */
/* } */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 90vh;
    width: 80vw; */
    border-color: #2A9D8F;
    border-style: solid;
    border-radius: 20px;
}

.home {
    /* display: flex; */
    justify-content: center;
    
}

.text-3xl {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    /* height: 40vh;
    width: 50vw; */
    border-color: #E9C46A;
    border-style: solid;
    border-radius: 20px;
}

.chat {
    position:relative
}

.home-team-card {
    /* border: 2px solid #ccc; */
    padding: 20px;
    margin: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #264653;
    border-radius: 20px;
    transition: transform 0.3s ease, z-index 0.3s ease;
  }

  .team-content {
    display: flex;
    justify-content: center;
    border-color: #E9C46A;
    border-style: solid;
    border-radius: 20px;
  }

  .team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-color: #2A9D8F;
    border-style: solid;
    border-radius: 20px;
}

.active {
    border-color: #E9C46A;
    border-style: solid;
    border-radius: 10px;
}

.resources-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    border-color: #2A9D8F;
    border-style: solid;
    border-radius: 20px;
}

.resources-content {
    display: flex;
    justify-content: center;
    
    border-color: #E9C46A;
    border-style: solid;
    border-radius: 20px;
}