body {
    display: flex;
    justify-content: center;
    background-color: #264653;
    text-align: center;
}

header {
    justify-content: center;
}

.navigate{
    display: flex;
    justify-content: center;
}

.navbar {
    justify-content: center;
}

.secondary {
    
    /* background-color: ; */
}

.container {
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 90vw;
    border-color: #2A9D8F;
    border-style: solid;
    border-radius: 20px;
}

.home {
    /* display: flex; */
    justify-content: center;
    
}

.text-3xl {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    border-color: #E9C46A;
    border-style: solid;
    border-radius: 20px;
}
